<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/37b336d4-e90e-4408-ae6e-9bb8773a992e/resourcegroups/bmi202320230909134457ResourceGroup/providers/Microsoft.Web/sites/bmi202320230909134457</ResourceId>
    <ResourceGroup>bmi202320230909134457ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bmi202320230909134457.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9505dda3-c359-4db0-82e3-5762134515fb</ProjectGuid>
    <PublishUrl>https://bmi202320230909134457.scm.azurewebsites.net/</PublishUrl>
    <UserName>$bmi202320230909134457</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>